/* ==========================================================================
 *    #STYLES
 *       ========================================================================== */


/**
 *  *
 *   * [1]: Inheriting box sizing slightly better best-practice
 *    * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *     *
 *      * [2]: WordPress System font-stack
 *       */


/* RESET
 *    ========================================================================== */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}



/* FONTS
 *    ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}



/* Header
 *    ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #01700d;
  color: #FFFFFF;
  margin-bottom: 50px;
}



/* Homepage Container
 *    ========================================================================== */

.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}







/* Table
 *    ========================================================================== */
table {
  border: 1px solid black;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  height: 50px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
td {
  height: 50px;
  vertical-align: bottom;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

/* Buttons
 *    ========================================================================== */

.button {
  height: 200px;
  line-height: 150px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 30px
}

.button-twitter {
  color: #FFFFFF;
  background-color: #659AF1;
  border-radius: 5px;
}
