doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      meta(charset='utf-8')
      block header
        header.header
          h1 #{title}
      block navBar
        ul.menu
          li.menu 
            a.menu(href="/") Home   
          li.menu
            a.menu(href="/articlez") Reading Room
          li.menu
            a.menu(href="/sources") Info Sources
          li.menu 
            a.menu(href="/maint") Maintenance
          li.menu(style="float:right")
            a.menu(href="about") About
       
      block content
