extends default

block content
    div.container
  
    p IT Risk reading room : be informed on the latest developments regarding IT secuirty and IT Risk, all in one single place.  We have information feeds
    p from the best information sources. 