extends default

block content
  div.container

  a(href="getarticles")
    button(type=button) Import new articles

  a(href="dbadmin")
    button(type=button) Import database

  a(href="deletearticles")
    button(type=button) Delete all articles

  a(href="recommend")
    button(type=button) Recommend articles
